.Options {
  border-radius: 20px;
  background-color: #1a1a1a;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: min(400px, 80vw);
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 1vh;
  height: 100px;
  z-index: 10;
}
.optionsButtons {
  margin: 0;
  padding: 8px;
  padding-bottom: 5px;
}

.imgButtons {
  width: 30px;
}

.moreVelo {
  border: 3px solid #646cff;;
}