#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.tablero {
  width: 500px;
  height: 500px;
  display: grid;
  grid-template-columns: repeat(50,1fr);
  grid-template-rows: repeat(1,1fr);
  background-color: transparent;
  border:solid thin black;
}

.column {
  display: grid;
  grid-template-columns: repeat(1,1fr);
  grid-template-rows: repeat(50,1fr);
  background-color: #313131;
}

.box {
  text-align: center;
  font-size:40px;
  cursor: pointer;
  user-select: none;
}

.live {
  background-color: #c9c9c9;
}